* { box-sizing: border-box;}
body {
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  
}
header{
  position: fixed; 
  top: 0;
  width: 100vw; 
  background-color: white;
}
.conteiner-header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;    
}
.conteiner-logo a{
    font-size: 25px;
    text-decoration: none;
    color: gray;
}
.conteiner-logo span{
    color: rgb(104, 180, 252);
}
header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
header nav ul li{
    padding: 15px;
    list-style: none;   
}
header nav ul li a{
    text-decoration: none;
    color: rgb(83, 83, 83);
}



.conteiner-principal{
    background-image: url("assets/img-fundo.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner-principal div{
    background-color: rgba(90, 86, 86, 0.5) ;
    color: white;
    font-size: 25px;
    text-align: center;
}

.container-apresentação{
    text-align: center;
    margin: 80px auto;
}
.container-quartos {
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;   
}
.container-quartos img{
    height: 150px;   
}
.container-quartos figure{
    text-align: center;
    border-bottom: solid gray;
    padding: 10px;
    width: calc(100% / 4);
}
.container-rota div{
    text-align: center;
    margin: 80px auto;
}
.container-sobre{
    margin: 100px;
}

.container-sobre .sobre{
    text-align: center;
    margin: 80px auto;
}
.container-sobre-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-sobre-flex img{
    height: 100%;
    width: 150px;
    object-fit: cover;
}
.container-sobre-flex-2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 40%;
}
.container-sobre-flex-2 div{
    display: block;
    width: 100%;
}

footer{
    background-color: rgb(106, 148, 63);
    margin-top: 100px;   
}
.container-contatos{
    display: flex;
    justify-content: space-around; 
     
}
.container-contatos div{
    display: flex;
    text-align: center;
    align-items: center;
}
.container-contatos div p{
    margin-left: 10px;
}
.copi{
    text-align: center;
    margin: 0;
}






